nav {
  margin-bottom: 3rem;
}

.main {
  position: relative;
  top: -18rem;
}

masonry img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.masonry div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masonry div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.masonry {
  padding: 0 0.5rem;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(190px, 2fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
