.main {
    position: absolute;
    top: 3rem;
    width: 100%;
  }

.heroImg {
  max-width: 100%;
  max-height: calc(100vh - 21rem);
  min-height: 15rem;
  margin: 1.5rem 0;
}

h2 {
    letter-spacing: .1rem;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    color: #027700;
  }

  .holidayClubKeyInfoCard {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 .agesShapeBg{
    margin: 1rem 0;
    font-size: 2rem;
    color: #f0513e;
 }

 .hapazoneImg {
  max-width: 100%;
  max-height: calc(100vh - 30rem);
  min-height: 15rem;
  margin: 1rem auto;
  border-radius: 5px;
 }
 
  .holidayClubKeyInfoCard p {
    margin: 0 auto;
    text-align: center;
    width: 85%;
  }

  .timesAndDatesCard {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .timesDatesTitle {
    margin-bottom: .5rem !important;
    font-size: 1.5rem;
    color: #238fcf;
  }

  .timesAndPricesTitle {
    font-size: 1.5rem;
    margin: 1rem auto;
    color: #577000;
  }

  .timesAndDatesCard li {
    padding: .2rem 0;
  }
  
  .whatToBringCard{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .whatToBringTitle {
    margin-top: 1rem !important;
    margin-bottom: .5rem !important;
    font-size: 1.5rem;
    color: #d2b221;
  }

  .whatToBringCard ul {
    column-count: 2;
    margin: 0 auto;
  }

  .whatToBringCard li {
    margin: .2rem 1rem;
    text-align: start;
    list-style: square;
  }

  footer{
    margin-bottom: -18rem;
  }
 
