/*
red #f0513e
light blue 58d1d9
lught green c6d932
yellow fecf05
dark blue 238fcf
dark green 5cb54b
forest school green 67c243
*/

#main {
  position: relative;
  top: 0rem;
}

.ethos{
    width: 100%;
    text-align: center;
    padding: 3rem 0 1rem 0;
    margin-top: -22rem;
    line-height: 1.5rem;
}

.ethos h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.contactBtnContainer{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.contactBtn {
  border: 5px solid #f0513e;
  box-sizing: border-box;
  color: #f0513e;
  cursor: pointer;
  font-size: 2rem;
	font-family: 'Lilita One', sans-serif;
	font-weight: 400;
  padding: 16px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 60%;
  letter-spacing: -3px;
}

.contactBtn a {
  text-decoration: none;
}

.contactBtn:hover {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.contactBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.contactLetter1 {
	color: #f0513e;
}

.contactLetter2 {
	color: #58d1d9;
}

.contactLetter3 {
	color: #a8b929;
}

.contactLetter4 {
	color: #fecf05;
}

.contactLetter5 {
	color: #238fcf;
}

.contactLetter6 {
	color: #5cb54b;
}

.contactLetter7 {
	color: #f0513e;
}

.contactLetter8 {
	color: #58d1d9;
}

.contactLetter9 {
	color: #a8b929;
}

.bullets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 2rem;
}

.bullets ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullets img {
  margin: 1rem;
  width: 5rem;
}

.bullets img:nth-child(5){
  width: 4rem !important;
}


.carousel {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 1.2rem 0;
    padding-top: 2rem;
    position: relative;
    line-height: 1.2rem;
    gap: 2rem;
}

.reviewBg {
  margin-top: -3rem;
  position: absolute;
  height: 25rem;
  width: 100%;
  z-index: -1;
  background: #017ca7;
  clip-path: circle(66% at 50% 72%);
}

  .reviews h3 {
    font-size: 1.7rem;
    text-align: center;
  }

  .review1, .review2, .review3{
    width: 70%;
    margin: 1rem 0 0 0;
    text-align: center;
  }

