/* CSS Reset  */

html, body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	letter-spacing: 0.3px;
	color: #646464;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Template Styling */


nav::before {
	content: "";
	position: absolute;
	margin-top: 7rem;
	display: flex;
	width: 100%;
	height: 18rem;
	flex-direction: column;
	align-items: center;
	background-image: url(./Images/play.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}

nav.open::before {
	filter: brightness(0.2);
}

.animalContainer{
	width: 100vw;
	height: 7rem;
	position: absolute;
	justify-content: space-between;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.bFly {
	margin: 1.5rem 0 0 4rem;
	height: 4rem;
	z-index: -100;
}

h1 {
	font-family: 'Lilita One', sans-serif;
	letter-spacing: 1.5px;
	padding: 0.5rem;
	width: 100%;
	font-weight: 400;
	font-size: 2rem;
	text-align: center;
	letter-spacing: -2px;
}

.letter1 {
	color: #f0513e;
}

.letter2 {
	color: #58d1d9;
}

.letter3 {
	color: #c6d932;
}

.letter4 {
	color: #fecf05;
}

.letter5 {
	color: #238fcf;
}

.letter6 {
	margin-right: 0.6rem;
	color: #5cb54b;
}

.letter7 {
	color: #f0513e;
}

.letter8 {
	color: #58d1d9;
}

.letter9 {
	color: #c6d932;
}

.letter10 {
	color: #fecf05;
}

.letter11 {
	color: #238fcf;
}

.letter12 {
	color: #5cb54b;
}

.letter13 {
	color: #f0513e;
}

.letter14 {
	color: #58d1d9;
}

.letter15 {
	color: #67c243;
}

.letter16 {
	color: #fecf05;
}

.letter17 {
	color: #238fcf;
}


.fSchool {
	display: block;
	font-size: 1.3rem;
	color: #67c243;
	letter-spacing: 1px;
}


/*
red #f0513e
light blue 58d1d9
lught green c6d932
yellow fecf05
dark blue 238fcf
dark green 5cb54b
forest school green 67c243
*/

nav ul {
	font-family: 'Lilita One', sans-serif;
	letter-spacing: 1.5px;
	list-style: none;
	text-align: center;
	margin-top: 3rem;
	width: 100%;
	opacity: 0;
	transform: translateY(-10%);
}

nav.open ul {
	transition: 0.2s ease-in-out;
	opacity: 1;
	transform: translateY(0);
	z-index: 200;
}

nav ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	padding: 0.3rem;
}

nav ul li a {
	text-decoration: none;
	font-weight: 700;
}

nav ul li a:hover{
	text-decoration: underline;
}

.containerBurger{
	width: 100vw;
	display: flex;
	justify-content: center;
}

.burgerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%; 
	border: 2px solid #f0513e;
	padding: 2px;
  }

.burger {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
	width: 1.2rem;
	height: 0.13rem;
	background: #f0513e;
	margin: 0.12rem;
	transition: transform 0.2s ease-in-out;
	z-index: 100;
}

.burger.active .bar1 {
	transform: rotate(-45deg) translate(-3px, 3px);
	transition: transform 0.3s ease-in-out;
}

.burger.active .bar2 {
	opacity: 0;
	transition: transform 0.5s ease-in-out;
}

.burger.active .bar3 {
	transform: rotate(45deg) translate(-5px, -5px);
	transition: transform 0.3s ease-in-out;
}

.home a {
	color: #f0513e;
}

.whatsNew a {
	color: #58d1d9;
}

.gallery a {
	color: #c6d932;
}

.grownUps a {
	color: #fecf05;
}

.parents a {
	color: #238fcf
}

.kitList a {
	color: #5cb54b;
}

.contact a {
	color: #f0513e
}

footer{
	display: flex;
	flex-direction: column;
}

.address {
	display: flex;
	justify-content: space-between;
}

.calvertonDetails{
	margin: 0.5rem 1.5rem;
}

.calvertonDetails h4 {
	margin-bottom: 0.5rem;
}

.walesbyDetails{
	margin: 0.5rem 1.5rem;
}

.walesbyDetails h4 {
	margin-bottom: 0.5rem;
}

footer span {
	height: 6rem;
	width: 1px;
	background: black;
}

.contact{
	display: flex;
	flex-direction: column;
	margin: 1rem 1rem 1rem 1rem;
}

.contact a {
	margin: 0.2rem 0;
	text-decoration: none;
	color: black;
}

footer img {
	margin: 1rem 0 0 2.5rem;
	width: 3rem;
	height: auto;
	align-self: center;
}