/* CSS Reset  */

html, body {
	width: 100%;
	overflow-x: hidden;
	color: #646464;
	font-family: 'Lilita One', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

button {
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Template Styling */

/* main background colour */
body {
	background: #f9fbeb;
}

nav {
	display: flex;
	width: 100%;
	height: 21rem;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.animalContainer{
	width: 100vw;
	height: 4rem;
	position: relative;
	justify-content: space-between;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: white !important;
}

#navImg {
	max-width: 100%;
	max-height: calc(100vh - 21rem);
	position: relative;
	bottom: 13rem;
	margin-bottom: 7rem;
}

h1 {
	position: relative;
	font-family: 'Lilita One', sans-serif;
	letter-spacing: 1.5px;
	padding: 0.5rem;
	font-weight: 400;
	font-size: 2rem;
	align-self: start;
	letter-spacing: -3px;
	z-index: 100;
}

h1 a {
	text-decoration: none;
}

.letter1 {
	color: #f0513e;
}

.letter2 {
	color: #58d1d9;
}

.letter3 {
	color: #c6d932;
}

.letter4 {
	color: #fecf05;
}

.letter5 {
	color: #238fcf;
}

.letter6 {
	margin-right: 0.6rem;
	color: #5cb54b;
}

.letter7 {
	color: #f0513e;
}

.letter8 {
	color: #58d1d9;
}

.letter9 {
	color: #c6d932;
}

.letter10 {
	color: #fecf05;
}

.letter11 {
	color: #238fcf;
}

.letter12 {
	color: #5cb54b;
}

.letter13 {
	color: #f0513e;
}

.letter14 {
	color: #58d1d9;
}

.letter15 {
	color: #67c243;
}

.letter16 {
	color: #fecf05;
}

.letter17 {
	color: #238fcf;
}


.fSchool {
	display: block;
	font-size: 1.3rem;
	color: #67c243;
	letter-spacing: 1px;
}


/*
red #f0513e
light blue 58d1d9
lught green c6d932
yellow fecf05
dark blue 238fcf
dark green 5cb54b
forest school green 67c243
*/

nav ul {
	font-family: 'Lilita One', sans-serif;
	letter-spacing: 1.5px;
	list-style: none;
	text-align: center;
	margin-top: 1.5rem;
	width: 100%;
	opacity: 0;
	transform: translateY(-10%);
}

nav.open ul {
    position: relative;
	top: 2rem;
    transition: 0.2s ease-in-out;
    opacity: 1;
    z-index: 200;
}

nav ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	padding: 0.3rem;
}

nav ul li a {
	text-decoration: none;
	font-weight: 700;
}


.containerBurger{
	width: 100vw;
	display: flex;
	justify-content: end;
	margin: -3.31rem 0 0 -1rem;
}

.burger {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
	width: 1.8rem;
	height: 0.2rem;
	background: #f0513e;
	margin: 0.12rem;
	transition: transform 0.2s ease-in-out;
	z-index: 100;
}

.burger.active .bar1 {
	transform: rotate(-45deg) translate(-3px, 3px);
	transition: transform 0.3s ease-in-out;
}

.burger.active .bar2 {
	opacity: 0;
	transition: transform 0.5s ease-in-out;
}

.burger.active .bar3 {
	transform: rotate(45deg) translate(-5px, -5px);
	transition: transform 0.3s ease-in-out;
}

.home a {
	color: #f0513e;
}

.whatsNew a {
	color: #58d1d9;
}

.gallery a {
	color: #c6d932;
}

.ourGrownUps a {
	color: #fecf05;
}

.toddlers a {
	color: #238fcf
}

.preSchool a {
	color: #5cb54b;
}

.holiday a {
	color: #f0513e;
}

.contact a {
	color: #238fcf !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	position: relative;
	top: 1rem;
}

footer{
	position: relative;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	background: white;
	color: #646464c5;
}

.address {
	display: flex;
	justify-content: space-between;
}

.calvertonDetails{
	margin: 0.5rem 1.5rem;
}

.calvertonDetails h4 {
	margin-bottom: 0.5rem;
}

.walesbyDetails{
	margin: 0.5rem 1.5rem;
}

.walesbyDetails h4 {
	margin-bottom: 0.5rem;
}

.contactDetails{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 1rem 1rem 1rem;
}

.contactDetails a {
	margin: 0.2rem 0;
	text-decoration: none;
	color: #646464;
}

footer img {
	margin: 1rem 0;
	width: 3rem;
	height: auto;
	align-self: center;
}

.socials{
    margin: 0 0 2rem 0rem;
    text-align: center;
  }

  .socials h3 {
    margin-bottom: 1rem;
  }

  .fb img, .insta img, .tiktok img  {
    height: 3rem;
    margin: 0 1rem 0 1rem;
  }

  .goToTop {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	border-radius: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	padding: 1em;
	display: none;
}