 nav {
  margin-bottom: 3rem;
}

.main {
  position: absolute;
  top: 19rem;
  width: 100%;
} 

.corkBoard {
  min-width: 10rem;
  margin: -13rem auto 0 auto;
}

.corkBoard > h2 {
  font-size: 1.8rem;
  margin: 1rem auto;
  transform: rotate(2deg);
  text-align: center;
  font-family: "Doctor Soos Bold", sans-serif;
  letter-spacing: -1px;
  color: #f0513e;
  background: white;
  padding: 1rem;
  width: 13rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.55);
}

.corkBoard > h2 > span {
  margin: -0.5rem auto 0.5rem auto;
}

.postArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-around;
  margin-top: 1rem;
}

.postContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 7rem !important;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 2px 2px 5px 2px;
  transition: width 0.2s ease;
  cursor: pointer;
  background: white;
  transform: rotate(3deg);
  background: white;
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post > img {
  height: 5rem;
  border: 2px solid black;
  margin: .5rem .5rem;
}

.post > p {
  text-align: center;
}

.postItTitle{
  margin: .5rem 0;
  font-size: 1.5rem;
}

.seeMore{
  font-size: 1rem;
  color: #f0513e;
}

.postContainer:nth-child(1n + 1) {
  transform: rotate(4deg);
  background: feff9c;
}

.postContainer:nth-child(2n + 2) {
  transform: rotate(2deg);
  background: #fff740;
  width: 25%;
  height: 7rem;
}

.postContainer:nth-child(3n+3){
  background: #7afcff;
  transform: rotate(-2deg);
}

.postContainer:nth-child(4n+4){
  background: #ff7eb9;
  transform: rotate(-4deg);
}

.postContainer.active {
  width: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2; 
}

.expand {
  display: none;
  text-align: center;
  width: 100%;
  z-index: 1;
  position: relative;
}

.expand > p {
  width: 70%;
  text-align: center;
  margin: .5rem auto;
}

.post > img.imgExpand{
  height: 12rem;
}

.pin {
  display: block;
  height: 10px;
  width: 10px;
  margin: 0.3rem 0;
  border: 1px solid black;
  background: red;
  border-radius: 50%;
  box-shadow: 1px 2px 5px 1px;
}  
